.banner {
    a.navbar-brand {
        background: url("../img/logo.png") no-repeat;
        background-position: center center;
        background-size: 150px 50px;
        display: block;
        overflow: hidden;
        text-indent: -99999em;
    }
}
